@using Shared.DataTransferObjects;
@model Shared.DataTransferObjects.CustomerForManipulationDTO
@{
    ViewData["Title"] = "Registration";
    var genderList = ViewData["Genders"] as IEnumerable<GenderDTO>;
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="panel">
        <div class="blockInput">
            <label class="form-label mt-4">Enter your name</label>
            <input class="form-control" type="text" asp-for="CustomerName"/>
            <span asp-validation-for="CustomerName"></span>
        </div>

        <div class="blockInput">
            <label class="form-label mt-4">Enter your surname</label>
            <input class="form-control" type="text" asp-for="CustomerSurname"/>
            <span asp-validation-for="CustomerSurname"></span>
        </div>
        
        <div class="blockInput">
            <label class="form-label mt-4">Enter your phone</label>
            <input class="form-control" type="text" asp-for="CustomerPhone"/>
            <span asp-validation-for="CustomerPhone"></span>
        </div>

        <div class="blockInput">
            <label class="form-label mt-4">Enter your email</label>
            <input class="form-control" type="text" asp-for="CustomerEmail"/>
            <span asp-validation-for="CustomerEmail"></span>
        </div>

        <div class="blockInput">
            <label class="form-label mt-4">Choose your Gender</label>
            <select asp-for="GenderId" class="form-control">
                @foreach(var gender in genderList) {
                    <option value="@gender.GenderId">@gender.GenderTitle</option>
                }

            </select>
            <span asp-validation-for="GenderId"></span>
        </div>

        <div class="blockInput">
            <label class="form-label mt-4">Enter your password</label>
            <input class="form-control" type="password" asp-for="CustomerPassword"/>
            <span asp-validation-for="CustomerPassword"></span>
        </div>

        <div class="blockInput">
            <label class="form-label mt-4">Enter your birthday</label>
            <input class="form-control" type="date" name="birthday"/>
            <span>@ViewBag.BirthIsEmpty</span>
        </div>

        <br><br>
        <div class="blockButtons">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
            <a class="btn btn-secondary btn-lg" asp-controller="Customers" asp-action="LogInSystem">Go Back</a>
            <span>@ViewBag.NotOk</span>
        </div>
    </div>    
</form>

<style>
    span{
        color: red;
    }
    
</style>