@using SitShopHome.Web.Models.PageViewModel;
@model MainPageViewModel
@{
    ViewData["Title"] = "Main page products";
}

<h1>@ViewData["Title"]</h1>
<form method="post" asp-action="SearchingProducts">
<input hidden asp-for="Products" value="@Model.Products"/>
    <div class="searching-panel">
        <div class="prices-panel">
            <div class="price">
                <label>min price</label>
                <input min=0 max=1000000 type="number" asp-for="MinPrice"/>
            </div>
            <div class="price">
                <label>max price</label>
                <input min=0 max=1000000 type="number" asp-for="MaxPrice"/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if(Model.Products.Count == 0)
{
    <div> NO PRODUCTS ANYMORE!!!! </div>
}
@foreach(var item in Model.Products)
{
    <div class="card" style="width: 18rem;">
        <img src="~/@item.ProductImage" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@item.ProductTitle</h5>
            <p class="card-text">Cost: @item.ProductPrice rub</p>
            <form method="post" asp-action="ProductsPage">
                <input name="id" type="text" value="@item.ProductId" hidden/>
                <button class="btn btn-primary" type="submit">See more</button>
            </form>
            <a class="btn btn-primary">BUY</a>
        </div>
    </div>
    <p></p>
}
<p>
    @if(Model.HasPreviousPage)
    {
        <a asp-action="MainPage" 
        asp-route-pageNumber="@(Model.PageNumber - 1)" 
        asp-route-minPrice="@Model.MinPrice"
        asp-route-maxPrice="@Model.MaxPrice"
        class="glyphicon glyphicon-chevron-left">Back</a>
    }
    @if(Model.HasNextPage)
    {
        <a asp-action="MainPage" 
        asp-route-minPrice="@Model.MinPrice"
        asp-route-maxPrice="@Model.MaxPrice"
        asp-route-pageNumber="@(Model.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">Next </a>
    }
</p>

<style>
.glyphicon { display: inline-block; padding:0 5px;}
.glyphicon-chevron-right:after { content: "\00BB"; }
.glyphicon-chevron-left:before { content: "\00AB"; }
</style>