@model SitShopHome.Web.Models.PageViewModel.CartPageViewModel
@{
    ViewData["Title"]  = "This is your cart";
}
<h1>@ViewData["Title"]</h1>

<div class="product-list">
@foreach(var item in Model.Products)
{
    <div class="card" style="width: 18rem;">
        <img src="~/@item.ProductImage" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@item.ProductTitle</h5>
            <p class="card-text">Cost: @item.ProductPrice rub</p>
            <form method="post" asp-controller="Products" asp-action="ProductsPage">
                <input name="id" type="text" value="@item.ProductId" hidden/>
                <button class="btn btn-primary" type="submit">See more</button>
            </form>

            <form method="post" asp-action="RemoveProductFromCart">
                <input hidden name="productId" value="@item.ProductId" />
                <button class="btn btn-secondary" type="submit">remove</button>
            </form>
        </div>
    </div>
}
</div>


<div class="total-cost">
   Total: @Model.TotalCost 
   <a asp-action="BuyingPage" class="btn btn-info">buy products</a>
</div>

<style>


    .card{
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>